.stats {
    background: "red";
    align-content: center;
}

td {
    padding: 0.5rem;
    flex-wrap: initial;
    font-weight: 600;
  }

td:hover {
  background-color: #86C232;
  }

th {
  padding: 0.5rem;
  text-align: center;
  background-color: darkgray;
  color: white;
}

table {
  border-collapse: collapse;
  align-content: center;
}
  
table, th, td {
  border: 1px solid black;
}
