.players{
    background: 'transparent';
}

.button {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 12%;
}

  
  .button:hover {
    transform: scale(2);
    background-color: #474B4F;
    color: #86C232;
    font-weight: 800;
  }